<div id="entry-list">

<div class="row" style="margin-bottom:10px;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:14%;">Star</th>
			<th style="width:14%;">Mass</th>
			<th style="width:14%;">Teff</th>
			<th style="width:14%;">Metallicity</th>
			<th style="width:14%;">rvData</th>
			<th style="width:10%;">Exoplanets</th>
			<th style="width:4%;"></th>
			<th style="width:18%;">Mass</th>
			<th style="width:4%;"></th>
			<th style="width:15%;">Period</th>
		</tr>
	</thead>
	<tbody class="list">
	{% for post in site.posts %}
		
		<tr>
			<td  style="width:12.5%;" rowspan={{post.Exoplanets-Mass|size}}>{{ post.Star-name}}</td>
			<td  style="width:12.5%;" rowspan={{post.Exoplanets-Mass|size}}>{{ post.mass }}</td>
			<td   style="width:12.5%;" rowspan={{post.Exoplanets-Mass|size}}>{{ post.teff }}</td>
			<td style="width:12.5%;" rowspan={{post.Exoplanets-Mass|size}}>{{ post.feh }}</td>
			<td style="width:12.5%;" rowspan={{post.Exoplanets-Mass|size}}><a target="_blank" rel="noopener noreferrer" href="https://github.com/{{ site.data.github }}"> data	</a></td>
			<td style="width:12.5%;">{{ post.Exoplanets[0]}}<td/>	
			<td style="width:8%;">{{ post.Exoplanets-Mass[0]}}<td/>
			<td style="width:12.5%;">{{ post.Exoplanets-Period[0]}}<td/>
			<td style="width:15%;"></td>
		</tr>
		{% assign num = post.Exoplanets-Mass|size|minus:1 %}
		{% for i in (1..num) %}
				<tr>
					<td style="width:12.5%;" >{{ post.Exoplanets[i]}}<td/>	
					<td style="width:8%;" >{{ post.Exoplanets-Mass[i]}}<td/>	
					<td  style="width:12.5%;">{{ post.Exoplanets-Period[i]}}<td/>	
					<td style="width:15%;"></td>
				</tr>
			
		{% endfor %}
		
				
			
		
		
	{% endfor %}
	</tbody>
</table>
</div>

</div>


<script type="text/javascript">

var options = {
  valueNames: ['name', 'Mass', 'Teff', 'Metal' , 'RVData' , 'planets' , 'pmass' , 'period']
};

var entryList = new List('entry-list', options);

</script>
